@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html>

<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Pratice</h1>
    </div>
    <div>
        <button>A</button>
    </div>
    <div>
        <h1>All Data From Database</h1><br/>

    </div>
</body>
</html>